In [72]:
import numpy as np
import gurobipy as gp
from gurobipy import *

In [73]:
m = Model("Travel Model")

In [74]:
import pandas as pd
dm = pd.read_excel('Distance Matrix.xlsx', index_col = 0)

In [76]:
print(dm.iloc[2,2])

0

In [77]:
dm

,Tirupati,Tirumala,Talakona Waterfalls,Kanipakam,Kaigal Falls / Dumukurallu Waterfalls,Chandragiri,Sri Venkateswara Zoological Park
Tirupati,0,45,93,74,138,24,18
Tirumala,49,0,126,113,178,60,47
Talakona Waterfalls,93,107,0,122,186,77,79
Kanipakam,70,92,119,0,80,52,64
Kaigal Falls / Dumukurallu Waterfalls,139,162,188,79,0,121,134
Chandragiri,24,44,77,57,122,0,16
Sri Venkateswara Zoological Park,18,30,83,70,134,17,0

In [ ]:
P =[i for i in range(7)]
print(P)
M=[j for j in range(7)]
print(M)

import random as rd
ts = np.random.randint(1,3, size = 7)
print(ts)
#print(ts[2])
    
#tp = np.random.random(0.1, 3, (7,7))
tp=[[rd.uniform(0.1,3) for i in P]for j in M]
tp

In [79]:
#adding variable
x = m.addVars(P,M, vtype = GRB.BINARY, name = "xij")

In [ ]:
#Aadding Constraints
m.addConstrs(gp.quicksum(x[i,j] for i in P) == 1 for j in M)
m.addConstrs(gp.quicksum(x[i,j] for j in M) == 1 for i in P)

m.addConstrs(x[i,j]+x[j,i] <= 1 for i in P for j in M)
#m.addConstrs(gp.quicksum(x[0,j] for j in M) == 1)
#m.addConstrs(gp.quicksum(x[i,0] for i in P) == 1)


m.addConstrs(gp.quicksum(x[i,j]*tp[i][j] for i in P for j in M) <= 9 -ts[i] for i in P)

In [81]:
#Objective Function

obj_fn = sum(x[i,j] for i in P for j in M)
m.setObjective(obj_fn, GRB.MAXIMIZE)

In [84]:
m.optimize()
m.printAttr('X')

Gurobi Optimizer version 10.0.1 build v10.0.1rc0 (win64)

CPU model: AMD Ryzen 7 4800H with Radeon Graphics, instruction set [SSE2|AVX|AVX2]
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 70 rows, 49 columns and 532 nonzeros
Model fingerprint: 0x7e9c7661
Variable types: 0 continuous, 49 integer (49 binary)
Coefficient statistics:
  Matrix range     [1e-01, 3e+00]
  Objective range  [1e+00, 1e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 8e+00]
Presolved: 16 rows, 18 columns, 69 nonzeros

Continuing optimization...


Explored 0 nodes (0 simplex iterations) in 0.02 seconds (0.00 work units)
Thread count was 16 (of 16 available processors)

Solution count 1: 7

Optimal solution found (tolerance 1.00e-04)
Best objective 7.000000000000e+00, best bound 7.000000000000e+00, gap 0.0000%

    Variable            X
-------------------------
    xij[0,1]            1
    xij[1,5]            1
    xij[2,3]            1
    xij[3,0]            1
    xij[4,2]            1
    xij[5,6]            1
    xij[6,4]            1